<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav container">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="../upload" routerLinkActive="active">Upload Image</a>
        <div *ngIf="user" style="float: right; display: inline-flex;">
            <a class="nav-item nav-link" style="cursor: not-allowed;">{{user.username}}</a>
            <a class="nav-item nav-link" (click)="logout()" style="cursor: pointer;">Logout</a>
        </div>
        <div *ngIf="!user" style="float: right;">
            <a class="nav-item nav-link" routerLink="../login">Login</a>
        </div>
    </div>
</nav>
<div style="margin-top: 50px;">
    <router-outlet></router-outlet>
</div>